h1 {color: aquamarine}
h1 {font-size: 40px}
h1 {font-family: fantasy}
h1 {text-align: center}
h1 {text-shadow: 2px 2px 0px rgb(0,0,255)}
a {text-decoration: none}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500;
}
